$bg-color: #111111;          // Het diepe, donkere antraciet/zwart voor de achtergronden
$main-color: #FFDE00;        // Het iconische, felle Persona 4 geel
$secondary-color: #E60012;   // Het felle rood dat gebruikt wordt voor contrast/accenten
$tertiary-color: #009FE3;    // Het retro cyaan blauw uit de menu-lijnen en TV-strepen

// --- UI Elementen ---
$button-color: #FFDE00;      // Gele knoppen (zoals de menu's in de game)
$button-text-color: #111111; // Donkere tekst op de gele knoppen voor maximale leesbaarheid
$text-color: white;        // Standaard witte tekst voor de body

// --- Extra Persona 4 Vibes ---
$ui-secondary: #F39200;         // Warm oranje voor sub-menu's en verloopjes
$ui-shadow: 4px 4px 0px #000000; // De typische 'harde' zwarte schaduw achter letters en menu-blokken

// --- Fonts & Layout --
$border-radius-sharp: 0px;   // Persona 4 gebruikt vaak hele strakke, scherpe hoeken (of juist ruiten)